<div class="android-content mdl-layout__content">
    <a name="top"></a>
    <div class="mdl-typography--text-center">
        <div id="sponsors">
            <div class="logo-font sponsor-slogan dff-font">Sponsorship Opportunities</div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                <div class="mdl-cell mdl-cell--10-col mdl-cell--12-col-tablet mdl-cell--12-col-phone center-align-items">
                    <div class="site-card-container mdl-grid">

                        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <a href="https://firebasestorage.googleapis.com/v0/b/devfestflorida.appspot.com/o/DevFestFlorida-Partnership-2019.pdf?alt=media&amp;token=81f3f199-a5a9-464e-8ba8-df353b4c4c2a">
                                    <img src="/img/logos/partnership-2019.png" alt="" style="height:auto;width:100%;">
                                </a>
                            </div>
                            <div class="mdl-card__title">
                                <span class="mdl-card__title-text center-card center">Partnership Proposition</span>
                            </div>
                            <div class="mdl-card__supporting-text center-card">
                                <span class="mdl-typography--font-light mdl-typography--subhead center-card center">Read
                                    more about the benefits you'll receive for being a generous sponsor of DevFest Florida.
                                    From your logo on our shirts/website to the opportunity to address the crowd.</span>
                            </div>
                            <div class="mdl-card__actions center">
                                <a class="site-link mdl-button mdl-js-button mdl-typography--text-uppercase center-card center" href="https://firebasestorage.googleapis.com/v0/b/devfestflorida.appspot.com/o/DevFestFlorida-Partnership-2019.pdf?alt=media&amp;token=81f3f199-a5a9-464e-8ba8-df353b4c4c2a"
                                    data-upgraded=",MaterialButton">
                                    View
                                </a>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--3dp">
                            <div class="mdl-card__media">
                                <a href="mailto:organizers@devfestflorida.org">
                                    <img src="/img/logos/click-to-sponsor.jpg" alt="" style="height:auto;width:100%;">
                                </a>
                            </div>
                            <div class="mdl-card__title">
                                <span class="mdl-card__title-text center-card center">Become a Sponsor</span>
                            </div>
                            <div class="mdl-card__supporting-text center-card">
                                <span class="mdl-typography--font-light mdl-typography--subhead center-card center">Sponsor
                                    today and help DevFest Florida pay for speaker travel, provide tickets to those that
                                    cannot afford them, throw a fantastic after conference party, give away cool swag &amp;
                                    prizes
                                </span>
                            </div>
                            <div class="mdl-card__actions center">
                                <a class="site-link mdl-button mdl-js-button mdl-typography--text-uppercase center-card center" href="mailto:organizers@devfestflorida.org"
                                    data-upgraded=",MaterialButton">
                                    View
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="partners" class="partners">
        <div class="site-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--12-col center-align-items">

                <div class="col-lg-10 col-lg-offset-1 center-align-items">

                    <div class="partner-header mdl-typography--font-light mdl-typography--display-1-color-contrast">Diamond
                        sponsors
                    </div>
                    <ul class="list-inline">

                        <li>
                            <a href="https://developers.google.com/groups/" target="_blank">
                                <img src="/img/partners/google-developers.svg" title="Google Developers" alt="Google Developers">
                            </a>
                        </li>

                    </ul>

                    <div class="partner-header mdl-typography--font-light mdl-typography--display-1-color-contrast">General
                        sponsors
                    </div>
                    <ul class="list-inline">

                        <li>
                            <a href="https://developers.google.com/" target="_blank">
                                <img src="/img/partners/google-developers.svg" title="Google" alt="Google">
                            </a>
                        </li>

                        <li>
                            <a href="https://developers.google.com/groups/" target="_blank">
                                <img src="/img/partners/gdg-logo-small.svg" title="Google Developer Groups" alt="GDG">
                            </a>
                        </li>

                    </ul>


                    <div class="partner-header mdl-typography--font-light mdl-typography--display-1-color-contrast">Organizers</div>


                    <ul class="list-inline">

                        <li>
                            <a href="https://www.meetup.com/gdgtampabay/" target="_blank">
                                <img src="/img/partners/gdgtampabay.svg" title="GDG Tampa Bay" alt="GDG Tampa Bay">
                            </a>
                        </li>

                        <li>
                            <a href="https://www.meetup.com/GDG-Central-Florida/" target="_blank">
                                <img src="/img/partners/central.svg" title="GDG Central Florida" alt="GDG Central Florida">
                            </a>
                        </li>

                    </ul>




                </div>
            </div>
            <div class="centered-div">
                <a class="site-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="mailto:organizers@devfestflorida.org"
                    target="_blank" data-upgraded=",MaterialButton">Become a Sponsor</a>
                &nbsp;&nbsp;&nbsp;
                <a class="site-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://firebasestorage.googleapis.com/v0/b/devfestflorida.appspot.com/o/DevFestFlorida-Partnership-2019.pdf?alt=media&amp;token=81f3f199-a5a9-464e-8ba8-df353b4c4c2a"
                    target="_blank" data-upgraded=",MaterialButton">Partnership Opportunities</a>
            </div>
            <div class="centered-div">
            </div>
        </div>
    </div>




</div>