<div id="tickets">
    <div class="site-section-title logo-font section-header dff-font">Tickets</div>
    <br>
    <div class="site-card-container mdl-grid">
        <div class="row mdl-cell mdl-cell--12-col">
            <style>
                .ticketsContainer {}

                .pricing-col {
                    vertical-align: top;
                    display: inline-block;
                    *display: inline;
                    padding: 10px;
                }
            </style>

            <div class="ticketsContainer">
                <div class="col-md-4 col-sm-4 pricing-col ">
                    <div class="pricing-header">
                        <p class="title disabled">Super early bird</p>
                        <p class="price price-disabled disabled-button"><span class="currency"> </span>$100</p>
                    </div>
                    <div>
                        <span class=" disable big-button white mdl-button mdl-js-ripple-effect" data-upgraded=",MaterialRipple">
                            SOLD OUT
                        </span>
                    </div>
                    <div class="pricing-content">
                        <span class="button fallback" style="margin-top:10px;">
                            Tickets not longer available
                        </span>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 pricing-col ">
                    <div class="pricing-header">
                        <p class="title disabled">Early bird</p>
                        <p class="price disabled-button"><span class="currency"> </span>$125</p>
                    </div>
                    <div>
                        <a class="big-button white mdl-button mdl-js-ripple-effect" href="https://www.eventbrite.com/e/devfest-florida-orlando-tickets-48558589047?aff=eac2"
                            target="_tickets" data-upgraded=",MaterialRipple">
                            BUY TICKET
                        </a>
                    </div>
                    <div class="pricing-content">
                        <span class="button fallback" style="margin-top:10px;">
                            Tickets number are limited
                        </span>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 pricing-col ">
                    <div class="pricing-header">
                        <p class="title disabled">Community friend</p>
                        <p class="price disabled-button"><span class="currency"> </span>$175</p>
                    </div>
                    <div>
                        <a class="big-button white mdl-button mdl-js-ripple-effect" href="https://www.eventbrite.com/e/devfest-florida-orlando-tickets-48558589047?aff=eac2"
                            target="_tickets" data-upgraded=",MaterialRipple">
                            BUY TICKET
                        </a>
                    </div>
                    <div class="pricing-content">
                        <span class="button fallback" style="margin-top:10px;">
                            Sale ends <b>Dec 2018</b>
                        </span>
                    </div>
                </div>

                <!--
          <div class="col-md-4 col-sm-4 pricing-col ">
              <div class="pricing-header">
                  <p class="title disabled">Faithful Supporter</p>
                  <p class="price disabled-button"><span class="currency"> </span>$225</p>
              </div>
              <div>
                  <a class="big-button white mdl-button mdl-js-ripple-effect"
                     href="https://www.eventbrite.com/e/devfest-florida-orlando-tickets-48558589047?aff=eac2"
                     target="_tickets"
                     data-upgraded=",MaterialRipple">
                    BUY TICKET
                  </a>
              </div>
              <div class="pricing-content">
                <span class="button fallback" style="margin-top:10px;">
                  Sale ends Jan 19th, 2019
                </span>
              </div>
          </div>
        -->





            </div>
        </div>
        <div class="ticket-disclaimer center-align-items">
            <p>Tickets grant access to all speaker sessions, breakouts, code labs, coffee breaks, lunch, and entrance to
                the after party. <em>Accommodation and/or travel is NOT included in the ticket price. Ticket vendor fees
                    may be extra.</em></p>
            <br>
        </div>
    </div>
</div>